build/
install/
log/
.vscode/
logs/
__pycache__/
venv
.ipynb_checkpoints/
.env
venvs
1-files
site/
joystick.log
vision.log
src/GPATH
src/GRTAGS
src/GTAGS
.cache/
brain.log
game_controller.log
sound.log
vision_wrapper.log
whistle.log





